<p id="notice"><%= notice %></p>

<p>
  <strong>Birthday:</strong>
  <%= @info.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @info.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @info.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @info.longitude %>
</p>

<p>
  <strong>Username:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @info.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @info.user_id %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
